<header role="banner" class="gem-c-layout-super-navigation-header">
  <div class="gem-c-layout-super-navigation-header__container govuk-width-container govuk-clearfix">
    <div class="gem-c-layout-super-navigation-header__header-logo">
      <a class="govuk-header__link govuk-header__link--homepage" data-track-action="logoLink" data-track-category="headerClicked" data-track-label="https://www.gov.uk" data-track-dimension="GOV.UK" data-track-dimension-index="29" href="/" id="logo" title="Go to the GOV.UK homepage">
        <span class="govuk-header__logotype">

          <span class="govuk-header__logotype-text govuk-!-font-size-27">
            Personal Independence Payment
          </span>
        </span>
      </a>
    </div>
    <nav aria-labelledby="super-navigation-menu-heading" class="gem-c-layout-super-navigation-header__content" data-module="govuk-header">
      <h2 id="super-navigation-menu-heading" class="govuk-visually-hidden">
        Navigation menu
      </h2>
      <button aria-controls="super-navigation-menu" aria-expanded="true" aria-label="Hide navigation menu" class="gem-c-layout-super-navigation-header__navigation-top-toggle-button" data-text-for-hide="Hide navigation menu" data-text-for-show="Show navigation menu" data-toggle-desktop-group="hidden" data-toggle-mobile-group="top" data-tracking-key="menu" hidden="" id="super-navigation-menu-toggle" type="button">
        Other actions
      </button>




      <ul id="super-navigation-menu" class="gem-c-layout-super-navigation-header__navigation-items">


        <li class="gem-c-layout-super-navigation-header__navigation-item">
             <a class="gem-c-layout-super-navigation-header__navigation-item-link" data-module="gem-track-click" data-track-action="departmentsLink" data-track-category="headerClicked" data-track-label="" data-track-dimension="Departments" data-track-dimension-index="29" href="../task-management-PIP-v1/flow-start">My home page</a>
          </li>

          <!-- <li class="gem-c-layout-super-navigation-header__navigation-item">
               <a class="gem-c-layout-super-navigation-header__navigation-item-link" data-module="gem-track-click" data-track-action="departmentsLink" data-track-category="headerClicked" data-track-label="" data-track-dimension="Departments" data-track-dimension-index="29" href="/agent-0-3/application-1-exit-bail">DOT</a>
            </li> -->

          <li class="gem-c-layout-super-navigation-header__navigation-item gem-c-layout-super-navigation-header__navigation-item--with-children">
            <a class="gem-c-layout-super-navigation-header__navigation-item-link" data-module="gem-track-click" data-track-action="topicsLink" data-track-category="headerClicked" data-track-label="/browse" data-track-dimension="Topics" data-track-dimension-index="29" href="/browse">Other actions</a>
              <button aria-controls="super-navigation-menu__section-98bf30f0" aria-expanded="false" aria-label="Show Topics menu" class="gem-c-layout-super-navigation-header__navigation-second-toggle-button" data-text-for-hide="Hide Topics menu" data-text-for-show="Show Topics menu" data-toggle-desktop-group="top" data-toggle-mobile-group="second" data-tracking-key="topics" hidden="" id="super-navigation-menu__section-98bf30f0-toggle" type="button">
                Other actions
              </button>

              <div hidden="" class="gem-c-layout-super-navigation-header__navigation-dropdown-menu" id="super-navigation-menu__section-98bf30f0">
                <div class="govuk-width-container">

                  <div class="govuk-!-margin-top-6">
                  {% include "../task-management-PIP-v1/home-menu.html" %}
                  </div>

                </div>
              </div>
            </li>
                  </div>
</ul>
    </nav>

  </div>



</header>

{% block scripts %}

<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/public/javascripts/explore-header.js"></script>

{% endblock %}