{# <header class="govuk-header dwp-header" data-module="govuk-header">
    <div class=" govuk-width-container ">
        <a href="../task-management-PIP-v1/flow-start"
            class="govuk-header__link govuk-header__link--service-name dwp-header__container--service-name">
            Personal Independence Payment
        </a>
    </div>
</header> #}


<header role="banner" class="govuk-header dwp-header">
    <div class=" govuk-width-container govuk-clearfix">
        <div style="float:left;">
            <a href="../" class="govuk-header__link govuk-header__link--service-name dwp-header__container--service-name">
                Personal Independence Payment
            </a>
        </div>
        <nav class="PIP_header_nav">

            <ul style="list-style: none;">

                <li>
                   <a href="pip-home" style="color:white; text-decoration: none;">My home page</a>
                </li>

                <li>
                    Other actions
                </li>
            </ul>
        </nav>
    </div>







</header>