{% extends "layouts/main.html" %} 

{% block pageTitle %} 
Status flow 
{% endblock %} 

{% block header %} 
{% include "includes/internal-header-has.html" %} 
{% endblock %} 

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<main
  class="govuk-main-wrapper govuk-main-wrapper--auto-spacing"
  id="main-content"
>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <h2 class="govuk-heading-m govuk-!-Marchgin-bottom-5">Filters</h2>
      <div id="filter-hint" class="govuk-hint govuk-!-Marchgin-bottom-4">
        Select one or more filters to apply to the list.
      </div>
      <div class="table-filter">
        <form id="#" method="get" action="#">
          <input type="hidden" name="stateId" value="19" />

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                Case type
              </legend>

              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input
                    class="govuk-checkboxes__input"
                    id="filter_yes"
                    name="srel"
                    type="checkbox"
                    value="yes"
                  />
                  <label
                    class="govuk-label govuk-checkboxes__label"
                    for="filter_yes"
                  >
                    Special rules for end of life (0)
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                Benefit type
              </legend>

              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input
                    class="govuk-checkboxes__input"
                    id="filter_esa"
                    name="benefits"
                    type="checkbox"
                    value="esa"
                  />
                  <label
                    class="govuk-label govuk-checkboxes__label"
                    for="filter_esa"
                  >
                    Employment and Support Allowance (1)
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input
                    class="govuk-checkboxes__input"
                    id="filter_pip"
                    name="benefits"
                    type="checkbox"
                    value="pip"
                  />
                  <label
                    class="govuk-label govuk-checkboxes__label"
                    for="filter_pip"
                  >
                    Personal Independence Payment (1)
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input
                    class="govuk-checkboxes__input"
                    id="filter_uc"
                    name="benefits"
                    type="checkbox"
                    value="uc"
                  />
                  <label
                    class="govuk-label govuk-checkboxes__label"
                    for="filter_uc"
                  >
                    Universal Credit (1)
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                Assessment centre
              </legend>

              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input
                    class="govuk-checkboxes__input"
                    id="filter_101209"
                    name="sites"
                    type="checkbox"
                    value="101209"
                  />
                  <label
                    class="govuk-label govuk-checkboxes__label"
                    for="filter_101209"
                  >
                    Handsworth (1)
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input
                    class="govuk-checkboxes__input"
                    id="filter_102505"
                    name="sites"
                    type="checkbox"
                    value="102505"
                  />
                  <label
                    class="govuk-label govuk-checkboxes__label"
                    for="filter_102505"
                  >
                    Tresco House (2)
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

          <button
            id="filter_submit"
            class="govuk-button govuk-button--secondary"
          >
            Apply filters
          </button>
        </form>
      </div>
    </div>
    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-l">Medical evidence received referrals</h1>

      <table class="govuk-table has-sortable-table" data-count="1">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" id="name-header">
              Claimant name
            </th>

            <th scope="col" class="govuk-table__header" id="nino-header">
              NI number
            </th>

            <th
              scope="col"
              class="govuk-table__header"
              id="referral-date-header"
              aria-sort="none"
            >
              <a href="?stateId=19&amp;sort=referralDateTime%2CASC"
                >Referral date</a
              >
            </th>

            <th
              scope="col"
              class="govuk-table__header has-width-fifteen-percent"
              id="due-date-header"
              aria-sort="none"
            >
              <a href="?stateId=19&amp;sort=nextActionDueDate%2CASC"
                >Next action due in</a
              >
            </th>
          </tr>
        </thead>

        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td
              class="govuk-table__cell"
              id="claimant-display-name-1"
              data-label="Claimant name"
            >
              <a
                href="#"
                class="govuk-link"
                >Chris CaracaraTESTING</a
              >
            </td>

            <td class="govuk-table__cell" id="nino-1" data-label="NI number">
              <span class="workflow-nino"
                ><span
                  >R<span class="govuk-visually-hidden unselectable"
                    >&nbsp;</span
                  >N</span
                ><span
                  ><span class="govuk-visually-hidden unselectable">&nbsp;</span
                  >00</span
                ><span
                  ><span class="govuk-visually-hidden unselectable">&nbsp;</span
                  >00</span
                ><span
                  ><span class="govuk-visually-hidden unselectable">&nbsp;</span
                  >01</span
                ><span
                  ><span class="govuk-visually-hidden unselectable">&nbsp;</span
                  >A</span
                ></span
              >
            </td>

            <td
              class="govuk-table__cell referral-date-name-col"
              id="referral-date-1"
              data-label="Referral date"
            >
              1 May 2023
            </td>

            <td
              class="govuk-table__cell"
              id="due-date-1"
              data-label="Next action due in"
            >
              <strong class="govuk-tag govuk-tag--red">
                36 DAYS OVERDUE
              </strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td
              class="govuk-table__cell"
              id="claimant-display-name-1"
              data-label="Claimant name"
            >
              <a
                href="#"
                class="govuk-link"
                >Jonathon Jones</a
              >
            </td>

            <td class="govuk-table__cell" id="nino-1" data-label="NI number">
              <span class="workflow-nino"
                ><span
                  >R<span class="govuk-visually-hidden unselectable"
                    >&nbsp;</span
                  >N</span
                ><span
                  ><span class="govuk-visually-hidden unselectable">&nbsp;</span
                  >00</span
                ><span
                  ><span class="govuk-visually-hidden unselectable">&nbsp;</span
                  >23</span
                ><span
                  ><span class="govuk-visually-hidden unselectable">&nbsp;</span
                  >24</span
                ><span
                  ><span class="govuk-visually-hidden unselectable">&nbsp;</span
                  >A</span
                ></span
              >
            </td>

            <td
              class="govuk-table__cell referral-date-name-col"
              id="referral-date-1"
              data-label="Referral date"
            >
              31 July 2023
            </td>

            <td
              class="govuk-table__cell"
              id="due-date-1"
              data-label="Next action due in"
            >
              <strong class="govuk-tag govuk-tag--red">
                23 DAYS OVERDUE
              </strong>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td
              class="govuk-table__cell"
              id="claimant-display-name-1"
              data-label="Claimant name"
            >
              <a
                href="#"
                class="govuk-link"
                >Amit Test</a
              >
            </td>

            <td class="govuk-table__cell" id="nino-1" data-label="NI number">
              <span class="workflow-nino"
                ><span
                  >R<span class="govuk-visually-hidden unselectable"
                    >&nbsp;</span
                  >N</span
                ><span
                  ><span class="govuk-visually-hidden unselectable">&nbsp;</span
                  >00</span
                ><span
                  ><span class="govuk-visually-hidden unselectable">&nbsp;</span
                  >08</span
                ><span
                  ><span class="govuk-visually-hidden unselectable">&nbsp;</span
                  >08</span
                ><span
                  ><span class="govuk-visually-hidden unselectable">&nbsp;</span
                  >A</span
                ></span
              >
            </td>

            <td
              class="govuk-table__cell referral-date-name-col"
              id="referral-date-1"
              data-label="Referral date"
            >
              3 Aug 2023
            </td>

            <td
              class="govuk-table__cell"
              id="due-date-1"
              data-label="Next action due in"
            >
              <strong class="govuk-tag govuk-tag--red">
                16 DAYS OVERDUE
              </strong>
            </td>
          </tr>
        </tbody>
      </table>

      <nav class="moj-pagination" aria-label="Pagination navigation">
        <ul class="moj-pagination__list"></ul>
        <p class="moj-pagination__results">
          Showing <b>1</b> to <b>3</b> of <b>3</b> referrals
        </p>
      </nav>
    </div>
  </div>
</main>

{% endblock %}
