{% extends "layouts/main.html" %}

{% block pageTitle %}
My open tasks
{% endblock %}

{% block header %}
{% include "includes/internal-header-pip.html" %}
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "pip-home?isCompleted=no&isRejected=no"
}) }}
{% endblock %}


{% block content %}

{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% if data['isOpenRejected'] == 'yes'%}
{% include "../includes/returned-banner" %}
{% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


    <h1 class="govuk-heading-l">{{ 'My open tasks' if data['hasStarted'] == 'yes' else 'You have no open tasks'}}</h1>


    <!-- ================================== -->

    <!-- WHAT OPTIONS DO WE PRESENT HERE?  -->

    <!-- ================================== -->


  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


    {% if data['hasStarted'] == 'yes' and data['isCompleted'] == 'no' %}

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Claimant name</th>
          <th scope="col" class="govuk-table__header">Application submitted</th>
          <th scope="col" class="govuk-table__header">Task</th>
          <th scope="col" class="govuk-table__header">Status</th>
          <th scope="col" class="govuk-table__header">Actions</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="task-overview?hasStarted=yes">Rachel Carter</a></th>
          <td class="govuk-table__cell">1 March 2024</td>
          <td class="govuk-table__cell">Confirm lay eligibility criteria</td>
          <td class="govuk-table__cell"><strong class="govuk-tag">Active</strong></td>
          <td class="govuk-table__cell">
            {# <div class="govuk-button-group"> #}
              {# <a href="#" class="govuk-button" data-module="govuk-button">
                Complete task
              </a> #}
              <a class="govuk-link" href="?isOpenRejected=yes&hasStarted=no&isCompleted=no">I cannot do this task</a>
              {#
            </div> #}
          </td>
        </tr>

      </tbody>
    </table>

    {% else %}

    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-2">Tasks will only be paused for 2 days before they
      will<br>be assigned to someone else.</p>
    <br>
    <p class="govuk-body govuk-!-font-size-19 govuk-!-margin-bottom-8">You can <a
        class="govuk-body govuk-!-font-size-19" href="task-overview?task=eligibility">check eligibility</a> or
      <a class="govuk-body govuk-!-font-size-19" href="task-overview?task=process">process a new application</a>.
    </p>
    {% endif %}






  </div>
</div>

{% endblock %}