{% extends "layouts/main.html" %}


{% block pageTitle %}
    Info & Errors
{% endblock %}

{% block header %}
  {% include "includes/internal-header-has.html" %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Info & Errors - Examples</h1>


   
    <ul class="govuk-list">
      <li>
      <a href="task-error-00">No Tasks available</a>
      </li>
      <li>
        <a href="task-error-01">Failed to get task</a>
      </li>
      <br>
      <li>
        <a href="review-error-00">Failed to accept task</a>
        </li>
        <li>
          <a href="review-error-01">Failed to reject task</a>
        </li>
        <br>
      <li>
        <a href="complete-error-00">Failed to complete task</a>
        </li>
        <li>
          <a href="complete-error-01">Failed to complete task (list) 1</a>
        </li>
        <li>
          <a href="complete-error-02">Failed to complete task (list) 2</a>
        </li>
    </ul>

  </div>
</div>

{% endblock %}
