{% extends "layouts/main.html" %}


{% block pageTitle %}
    Info - No Tasks available
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Tasks</h1>


    {% set html %}

      <p class="govuk-notification-banner__heading">
        There are no tasks currently available.
        <br>
        <a class="govuk-notification-banner__link" href="#">TBC - Provide onward action</a>.
      </p>

  {% endset %}

    {{ govukNotificationBanner({
      html: html
   }) }}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">
          Review further medical evidence (ESA)
        </h2>
        <p class="govuk-body govuk-!-font-size-24">
          <a href="review-task-00" disabled="disabled" aria-disabled="true" class="govuk-link disabled-link"><b>Get next task</b></a>
        </p>
      </div>
      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">
          0
        </h3>
        <p class="govuk-body govuk-!-font-size-24">total tasks</p>
      </div>
    </div>

    <hr>
    <br>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">
          Review further medical evidence (PIP)
        </h2>
        <p class="govuk-body govuk-!-font-size-24">
          <a href="#" disabled="disabled" aria-disabled="true" class="govuk-link disabled-link"><b>Get next task</b></a>
        </p>
      </div>
      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">
          0
        </h3>
        <p class="govuk-body govuk-!-font-size-24">total tasks</p>
      </div>
    </div>


    <hr>
    <br>


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">
          Review further medical evidence (UC)
        </h2>
        <p class="govuk-body govuk-!-font-size-24">
          <a href="#" disabled="disabled" aria-disabled="true" class="govuk-link disabled-link"><b>Get next task</b></a>
        </p>
      </div>
      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">
          0
        </h3>
        <p class="govuk-body govuk-!-font-size-24">total tasks</p>
      </div>
    </div>
    <hr>

  </div>
</div>

{% endblock %}
