{% extends "layouts/main.html" %}


{% block pageTitle %}
    Get a new task
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <h1 class="govuk-heading-l">Tasks</h1>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">
          Review further medical evidence (ESA)
        </h2>
        <p class="govuk-body-l">
          <a href="review-task" class="govuk-link"><b>Get next task</b></a>
        </p>
      </div>
      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-l">
          7
          <p class="govuk-body govuk-!-font-size-24">total tasks</p>
        </h3>
      </div>
    </div>

    <hr>
    <br><br>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">
          Review further medical evidence (PIP)
        </h2>
          <p class="govuk-body-l">
            <a href="#" class="govuk-link"><b>Get next task</b></a>
          </p>
      </div>
      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-l">
          24
          <p class="govuk-body govuk-!-font-size-24">total tasks</p>
        </h3>
      </div>
    </div>
    <hr>
    <br><br>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">
          Review further medical evidence (UC)
        </h2>
          <p class="govuk-body-l">
            <a href="#" disabled="disabled" aria-disabled="true" class="govuk-link disabled-link"><b>Get next task</b></a>
          </p>
      </div>
      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-l">
          0
          <p class="govuk-body govuk-!-font-size-24">total tasks</p>
        </h3>
      </div>
    </div>

    <br>

</div>


  <div class="govuk-grid-row" style="margin-top:80px;">

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--l">Tasks in progress</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Claimant name</th>
          <th scope="col" class="govuk-table__header">Referral date</th>
          <th scope="col" class="govuk-table__header">Task</th>
          <th scope="col" class="govuk-table__header">Actions</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="tasklist">Jane Doe</a></th>
          <td class="govuk-table__cell">22 August 2023</td>
          <td class="govuk-table__cell">Review medical evidence (PIP)</td>
          <td class="govuk-table__cell">
            <div class="govuk-button-group">
              <a href="agent-task-complete-new-01" class="govuk-button" data-module="govuk-button">
                Complete task
              </a>
              <a class="govuk-link" href="agent-task-complete-new-reject">I cannot do this task</a>
            </div>
        </tr>
        
      </tbody>
    </table>

  </div>

{% endblock %}
