{% extends "layouts/main.html" %}


{% block pageTitle %}
Task itself...
{% endblock %}

{% block header %}

  {% include "includes/blue-banner-awaiting-hcpreview.html" %}
  
{% endblock %}


{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}


{% block content %}
  
  <main
    class="govuk-main-wrapper govuk-main-wrapper--auto-spacing"
    id="main-content"
  >
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

       

        <form
          class="form"
          action="tasklist-status-confirmation"
          autocomplete="off"
          method="post"
          novalidate=""
        >

          {{ govukRadios({
            name: "status-1",
            fieldset: {
              legend: {
                text: "Select a status",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
              {
                value: "assigned",
                text: "Assigned"
              },
              {
                value: "hcp-review",
                text: "HCP Review"
              },
              {
                value: "request-medical-evidence",
                text: "Request medical evidence"
              },
              {
                value: "awaiting-medical-evidence",
                text: "Awaiting medical evidence"
              },
              {
                value: "medical-evidence-not-received",
                text: "Medical evidence not received"
              },
              {
                value: "medical-evidence-received",
                text: "Medical evidence received"
              },
              {
                value: "book-assessment",
                text: "Book assessment"
              },
              {
                value: "assessment-booked",
                text: "Assessment booked"
              },
              {
                value: "pip-paper-based-review",
                text: "PIP paper based review"
              },
              {
                value: "failed-to-attend",
                text: "Failed to attend"
              },
              {
                value: "report-ready",
                text: "Report ready"
              },
              {
                value: "hcp-audit",
                text: "HCP audit"
              },
              {
                value: "pipcs-descriptors-updated",
                text: "PIPCS descriptors updated"
              },
              {
                value: "done",
                text: "Done"
              },
              {
                value: "withdrawn",
                text: "Withdrawn"
              },
              {
                value: "Created-in-error",
                text: "Created in error"
              }
            
            ]
          }) }}


          <button class="govuk-button" data-module="govuk-button" id="submit">
            Continue
          </button>
        </form>
      </div>
    </div>
  </main>

{% endblock %}
