
{% extends "layouts/main.html" %}


{% block pageTitle %}
    My open tasks
{% endblock %}

{% block header %}
  {% include "includes/internal-header-pip.html" %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "flow-start"
}) }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">My open tasks</h1>

    
    </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


    {% if data['hasStarted'] == 'yes' %}

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Claimant name</th>
          <th scope="col" class="govuk-table__header">Referral date</th>
          <th scope="col" class="govuk-table__header">Task</th>
          <th scope="col" class="govuk-table__header">Status</th>
          <th scope="col" class="govuk-table__header">Actions</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="review-task.html?hasStarted=yes">Jane Doe</a></th>
          <td class="govuk-table__cell">9 November 2023</td>
          <td class="govuk-table__cell">Determine if Health Assessment Required</td>
          <td class="govuk-table__cell"><strong class="govuk-tag">Active</strong></td>
          <td class="govuk-table__cell">
            <div class="govuk-button-group">
              <a href="#" class="govuk-button" data-module="govuk-button">
                Complete task
              </a>
              <a class="govuk-link" href="#">I cannot do this task</a>
            </div>
        </tr>
        
      </tbody>
    </table>

    {%  else %}
    
    <p>You have no tasks in progress.</p>

    <p>You can <a href="agent-task-new-00">get a new task</a>.</p>
    
    {%  endif %}

   


  

  </div>  
</div>

{% endblock %}
