{% extends "layouts/main.html" %}


{% block pageTitle %}
Prototype page title
{% endblock %}

{% block header %}

  {% include "includes/internal-header-has.html" %}

{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


      <h1 class="govuk-heading-l">
       Tasks
      </h1>

   
      <p>You have no tasks in progress.</p>
 

<a href="agent-task-1"> 
      <button class="govuk-button" data-module="govuk-button">Get a new task</button>
    </a>
      
    </div>
  </div>

{% endblock %}

