{% extends "layouts/main.html" %}


{% block pageTitle %}
Complete task
{% endblock %}

{% block header %}

{% include "includes/blue-banner-awaiting-hcpreview.html" %}

{% endblock %}


{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        Have you completed this task?
      </legend>
      <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="haveYouCompletedThisTask" name="haveYouCompletedThisTask" type="radio" value="yes">
          <label class="govuk-label govuk-radios__label" for="haveYouCompletedThisTask">
            Yes, I’ve completed this task
          </label>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="haveYouCompletedThisTask-2" name="haveYouCompletedThisTask" type="radio" value="no">
          <label class="govuk-label govuk-radios__label" for="haveYouCompletedThisTask-2">
            No, I’ll come back to it later
          </label>
        </div>
      </div>
    </fieldset>

    <br>
    <a href="agent-task-3">
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </a>

  </div>
</div>

{% endblock %}