{% extends "layouts/main.html" %}


{% block pageTitle %}
Prototype page title
{% endblock %}

{% block header %}

  {% include "includes/internal-header-has.html" %}

{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


      <h1 class="govuk-heading-l">
       Tasks
     
      </h1>

  

<a href="#"> 
      <button class="govuk-button" data-module="govuk-button">Get a new task</button>
    </a> 
     

       <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Tasks in progress</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Claimant name</th>
            <th scope="col" class="govuk-table__header">Referral date</th>
            <th scope="col" class="govuk-table__header">Benefit type</th>
            <th scope="col" class="govuk-table__header">Tasks to do</th>
            <th scope="col" class="govuk-table__header">Description</th>
            <!-- <th scope="col" class="govuk-table__header">Action</th> -->
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="tasklist">Jane Doe</a></th>
            <td class="govuk-table__cell">22 August 2023</td>
            <td class="govuk-table__cell">PIP</td>
            <td class="govuk-table__cell">Review medical evidence</td>
            <td class="govuk-table__cell">Review the newly received document and add outcome details to HCP
              review.</td>
              <!-- <td class="govuk-table__cell"><a href="tasklist">Start task</a></td> -->
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><a href="tasklist-2">Jack Ryan</a></th>
            <td class="govuk-table__cell">24 August 2023</td>
            <td class="govuk-table__cell">PIP</td>
            <td class="govuk-table__cell">Review medical evidence</td>
            <td class="govuk-table__cell">Review the newly received document and add outcome details to HCP
              review.</td>
              <!-- <td class="govuk-table__cell"><a href="tasklist-2">Start task</a></td> -->
          </tr>
        
        </tbody>
      </table>
     
    
    </div>
  </div>

{% endblock %}

