{% extends "layouts/main.html" %}


{% block pageTitle %}
As-is entry - 02
{% endblock %}

{% block header %}

{% include "includes/internal-header-has.html" %}

{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "flow-start.html?toComplete=yes"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row" style="margin-top: -40px">
  <div class="govuk-grid-column-two-thirds">
    <main
      class="govuk-main-wrapper govuk-main-wrapper--auto-spacing"
      id="main-content"
    >

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <form
            id="task-form"
            class="form"
            action="#"
            autocomplete="off"
            method="post"
            novalidate=""
          >
            <input type="hidden" name="_csrf" value="" />

            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="filters-hint">
                <legend
                  class="govuk-fieldset__legend govuk-fieldset__legend govuk-fieldset__legend--l"
                >
                  <h1 class="govuk-fieldset__heading">
                    View a caseload or status
                  </h1>
                </legend>

                <div id="filters-hint" class="govuk-hint">
                  View referrals in a caseload or by status.
                </div>

                <div class="govuk-radios" data-module="govuk-radios">
                  
                  <div class="govuk-radios__item">
                    <input
                      class="govuk-radios__input"
                      id="filters"
                      name="filters"
                      type="radio"
                      value="caseload"
                      role="radiogroup"
                      aria-controls="conditional-filters"
                      aria-expanded="false"
                    />
                    <label
                      class="govuk-label govuk-radios__label"
                      for="filters"
                    >
                      Caseload
                    </label>
                  </div>

                  <div
                    class="govuk-radios__conditional govuk-radios__conditional--hidden"
                    id="conditional-filters"
                  >
                    <div class="govuk-form-group">
                      <div
                        class="govuk-radios govuk-radios--small"
                        role="radiogroup"
                        data-module="govuk-radios"
                      >
                        <div class="govuk-radios__item">
                          <input
                            class="govuk-radios__input"
                            id="caseload"
                            name="caseload"
                            type="radio"
                            value="e0ffcab8-b589-42de-a3dd-7f0a1801553b"
                          />
                          <label
                            class="govuk-label govuk-radios__label"
                            for="caseload"
                          >
                            ApptsRelease (6)
                          </label>
                        </div>

                        <div class="govuk-radios__item">
                          <input
                            class="govuk-radios__input"
                            id="caseload-2"
                            name="caseload"
                            type="radio"
                            value="4161cc7c-b25f-43bd-a00a-d802de540b86"
                          />
                          <label
                            class="govuk-label govuk-radios__label"
                            for="caseload-2"
                          >
                            Billy (6)
                          </label>
                        </div>

                        <div class="govuk-radios__item">
                          <input
                            class="govuk-radios__input"
                            id="caseload-3"
                            name="caseload"
                            type="radio"
                            value="6e577414-1d2c-497e-bd99-aef63d0cebc4"
                          />
                          <label
                            class="govuk-label govuk-radios__label"
                            for="caseload-3"
                          >
                            Caracara (1)
                          </label>
                        </div>

                        <div class="govuk-radios__item">
                          <input
                            class="govuk-radios__input"
                            id="caseload-4"
                            name="caseload"
                            type="radio"
                            value="308a3e43-b594-4071-9e7e-6a5b31dab4bd"
                          />
                          <label
                            class="govuk-label govuk-radios__label"
                            for="caseload-4"
                          >
                            Chaffinch (13)
                          </label>
                        </div>

                        <div class="govuk-radios__item">
                          <input
                            class="govuk-radios__input"
                            id="caseload-5"
                            name="caseload"
                            type="radio"
                            value="8b30906a-f6b9-4403-9e6e-2ab52438e80f"
                          />
                          <label
                            class="govuk-label govuk-radios__label"
                            for="caseload-5"
                          >
                            Full service demo (1)
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input
                            class="govuk-radios__input"
                            id="caseload-6"
                            name="caseload"
                            type="radio"
                            value="73271f2b-229d-4b00-ab88-771b4623c8ab"
                          />
                          <label
                            class="govuk-label govuk-radios__label"
                            for="caseload-6"
                          >
                            Gina (0)
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input
                            class="govuk-radios__input"
                            id="caseload-7"
                            name="caseload"
                            type="radio"
                            value="b53bb838-6439-4395-8745-ded1ff301e57"
                          />
                          <label
                            class="govuk-label govuk-radios__label"
                            for="caseload-7"
                          >
                            HAS Service Design (5)
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input
                            class="govuk-radios__input"
                            id="caseload-8"
                            name="caseload"
                            type="radio"
                            value="e62f4723-6378-4c56-b4d4-d5b7f49305df"
                          />
                          <label
                            class="govuk-label govuk-radios__label"
                            for="caseload-8"
                          >
                            HCP 1 (1)
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input
                            class="govuk-radios__input"
                            id="caseload-9"
                            name="caseload"
                            type="radio"
                            value="804919df-d81d-44ce-a1c7-c4d8ad4334cb"
                          />
                          <label
                            class="govuk-label govuk-radios__label"
                            for="caseload-9"
                          >
                            HCP 2 (2)
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input
                            class="govuk-radios__input"
                            id="caseload-10"
                            name="caseload"
                            type="radio"
                            value="59c4aee2-71bc-4484-941b-d5b8590e8c98"
                          />
                          <label
                            class="govuk-label govuk-radios__label"
                            for="caseload-10"
                          >
                            Kay (5)
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input
                            class="govuk-radios__input"
                            id="caseload-11"
                            name="caseload"
                            type="radio"
                            value="a747db84-5ded-4fcd-91fa-8e4f2a7fa876"
                          />
                          <label
                            class="govuk-label govuk-radios__label"
                            for="caseload-11"
                          >
                            Kestrel (19)
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input
                            class="govuk-radios__input"
                            id="caseload-12"
                            name="caseload"
                            type="radio"
                            value="d6ad29e5-cef7-4c23-b2dd-6b286e27eb41"
                          />
                          <label
                            class="govuk-label govuk-radios__label"
                            for="caseload-12"
                          >
                            Kiki K (0)
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input
                            class="govuk-radios__input"
                            id="caseload-13"
                            name="caseload"
                            type="radio"
                            value="5e68ee7b-10b6-43ec-987f-41dd352b8cf3"
                          />
                          <label
                            class="govuk-label govuk-radios__label"
                            for="caseload-13"
                          >
                            Lime (0)
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input
                            class="govuk-radios__input"
                            id="caseload-14"
                            name="caseload"
                            type="radio"
                            value="d58d16fd-4d78-4eb4-8f00-9bde5a711743"
                          />
                          <label
                            class="govuk-label govuk-radios__label"
                            for="caseload-14"
                          >
                            Mine (7)
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input
                            class="govuk-radios__input"
                            id="caseload-15"
                            name="caseload"
                            type="radio"
                            value="1eddf41b-2f7c-4f9f-a223-833217f3d930"
                          />
                          <label
                            class="govuk-label govuk-radios__label"
                            for="caseload-15"
                          >
                            Peacock (9)
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input
                            class="govuk-radios__input"
                            id="caseload-16"
                            name="caseload"
                            type="radio"
                            value="7fb92c7b-3293-4ae1-8e32-e05dddf908a2"
                          />
                          <label
                            class="govuk-label govuk-radios__label"
                            for="caseload-16"
                          >
                            Second Ali (7)
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input
                            class="govuk-radios__input"
                            id="caseload-17"
                            name="caseload"
                            type="radio"
                            value="1b850390-7422-462e-8dbd-f4cb360fedeb"
                          />
                          <label
                            class="govuk-label govuk-radios__label"
                            for="caseload-17"
                          >
                            SupportingDocs (35)
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input
                            class="govuk-radios__input"
                            id="caseload-18"
                            name="caseload"
                            type="radio"
                            value="dadb3f02-b078-4001-8352-d43a21f2f8d6"
                          />
                          <label
                            class="govuk-label govuk-radios__label"
                            for="caseload-18"
                          >
                            TEST - WF - Admin (6)
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input
                            class="govuk-radios__input"
                            id="caseload-19"
                            name="caseload"
                            type="radio"
                            value="8b9f3b8f-fb85-4657-a36c-f2d4805f8bbc"
                          />
                          <label
                            class="govuk-label govuk-radios__label"
                            for="caseload-19"
                          >
                            TEST - WF - Danny Travasso (0)
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input
                            class="govuk-radios__input"
                            id="caseload-20"
                            name="caseload"
                            type="radio"
                            value="4cd6005c-f73e-448f-9c80-aac1a54d745d"
                          />
                          <label
                            class="govuk-label govuk-radios__label"
                            for="caseload-20"
                          >
                            TEST - WF - George Kazazopoulos (0)
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input
                            class="govuk-radios__input"
                            id="caseload-21"
                            name="caseload"
                            type="radio"
                            value="b8f661dd-442c-4b6e-ae9e-b198ab43abaf"
                          />
                          <label
                            class="govuk-label govuk-radios__label"
                            for="caseload-21"
                          >
                            TEST - WF - Gian Kainth (0)
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input
                            class="govuk-radios__input"
                            id="caseload-22"
                            name="caseload"
                            type="radio"
                            value="65612fad-cc1f-4580-b147-10093117f1d7"
                          />
                          <label
                            class="govuk-label govuk-radios__label"
                            for="caseload-22"
                          >
                            TEST - WF - Healthcare Professional (6)
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input
                            class="govuk-radios__input"
                            id="caseload-23"
                            name="caseload"
                            type="radio"
                            value="7cded2bd-ba2c-42e2-9fba-d615b1e8d890"
                          />
                          <label
                            class="govuk-label govuk-radios__label"
                            for="caseload-23"
                          >
                            TEST - WF - Veronica Latty (0)
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input
                            class="govuk-radios__input"
                            id="caseload-24"
                            name="caseload"
                            type="radio"
                            value="37446328-d6db-459c-ba28-d1f81d7eaf16"
                          />
                          <label
                            class="govuk-label govuk-radios__label"
                            for="caseload-24"
                          >
                            TEST - WF - Zulaikhah Akhtar (0)
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input
                            class="govuk-radios__input"
                            id="caseload-25"
                            name="caseload"
                            type="radio"
                            value="672e0bd1-dac6-4ae8-933f-c55450f1fb9e"
                          />
                          <label
                            class="govuk-label govuk-radios__label"
                            for="caseload-25"
                          >
                            To do - Handsworth - Admin (5)
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input
                            class="govuk-radios__input"
                            id="caseload-26"
                            name="caseload"
                            type="radio"
                            value="45c9a2f3-29f8-44e3-a97d-59800a52c87c"
                          />
                          <label
                            class="govuk-label govuk-radios__label"
                            for="caseload-26"
                          >
                            nb (17)
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="govuk-radios__item">
                    <input
                      class="govuk-radios__input"
                      id="filters-2"
                      name="filters"
                      type="radio"
                      value="status"
                      role="radiogroup"
                      aria-controls="conditional-filters-2"
                      aria-expanded="false"
                    />
                    <label
                      class="govuk-label govuk-radios__label"
                      for="filters-2"
                    >
                      Status
                    </label>
                  </div>

                  <div
                    class="govuk-radios__conditional govuk-radios__conditional--hidden"
                    id="conditional-filters-2"
                  >
                    <div class="govuk-form-group">
                      <div
                        class="govuk-radios govuk-radios--small"
                        role="radiogroup"
                        data-module="govuk-radios"
                      >
                        <div class="govuk-radios__item">
                          <input
                            class="govuk-radios__input"
                            id="status"
                            name="status"
                            type="radio"
                            value="11"
                          />
                          <label
                            class="govuk-label govuk-radios__label"
                            for="status"
                          >
                            Assigned (13)
                          </label>
                        </div>

                        <div class="govuk-radios__item">
                          <input
                            class="govuk-radios__input"
                            id="status-2"
                            name="status"
                            type="radio"
                            value="12"
                          />
                          <label
                            class="govuk-label govuk-radios__label"
                            for="status-2"
                          >
                            Awaiting questionnaire (1)
                          </label>
                        </div>

                        <div class="govuk-radios__item">
                          <input
                            class="govuk-radios__input"
                            id="status-3"
                            name="status"
                            type="radio"
                            value="13"
                          />
                          <label
                            class="govuk-label govuk-radios__label"
                            for="status-3"
                          >
                            Questionnaire reminder sent (1)
                          </label>
                        </div>

                        <div class="govuk-radios__item">
                          <input
                            class="govuk-radios__input"
                            id="status-4"
                            name="status"
                            type="radio"
                            value="14"
                          />
                          <label
                            class="govuk-label govuk-radios__label"
                            for="status-4"
                          >
                            Questionnaire not returned (1)
                          </label>
                        </div>

                        <div class="govuk-radios__item">
                          <input
                            class="govuk-radios__input"
                            id="status-5"
                            name="status"
                            type="radio"
                            value="15"
                          />
                          <label
                            class="govuk-label govuk-radios__label"
                            for="status-5"
                          >
                            HCP review (42)
                          </label>
                        </div>

                        <div class="govuk-radios__item">
                          <input
                            class="govuk-radios__input"
                            id="status-6"
                            name="status"
                            type="radio"
                            value="16"
                          />
                          <label
                            class="govuk-label govuk-radios__label"
                            for="status-6"
                          >
                            Request medical evidence (2)
                          </label>
                        </div>

                        <div class="govuk-radios__item">
                          <input
                            class="govuk-radios__input"
                            id="status-7"
                            name="status"
                            type="radio"
                            value="17"
                          />
                          <label
                            class="govuk-label govuk-radios__label"
                            for="status-7"
                          >
                            Awaiting medical evidence (1)
                          </label>
                        </div>

                        <div class="govuk-radios__item">
                          <input
                            class="govuk-radios__input"
                            id="status-8"
                            name="status"
                            type="radio"
                            value="18"
                          />
                          <label
                            class="govuk-label govuk-radios__label"
                            for="status-8"
                          >
                            Medical evidence not received (3)
                          </label>
                        </div>

                        <div class="govuk-radios__item">
                          <input
                            class="govuk-radios__input"
                            id="status-9"
                            name="status"
                            type="radio"
                            value="19"
                          />
                          <label
                            class="govuk-label govuk-radios__label"
                            for="status-9"
                          >
                            Medical evidence received (1)
                          </label>
                        </div>

                        <div class="govuk-radios__item">
                          <input
                            class="govuk-radios__input"
                            id="status-10"
                            name="status"
                            type="radio"
                            value="20"
                          />
                          <label
                            class="govuk-label govuk-radios__label"
                            for="status-10"
                          >
                            Book assessment (12)
                          </label>
                        </div>

                        <div class="govuk-radios__item">
                          <input
                            class="govuk-radios__input"
                            id="status-11"
                            name="status"
                            type="radio"
                            value="6"
                          />
                          <label
                            class="govuk-label govuk-radios__label"
                            for="status-11"
                          >
                            Assessment booked (29)
                          </label>
                        </div>

                        <div class="govuk-radios__item">
                          <input
                            class="govuk-radios__input"
                            id="status-12"
                            name="status"
                            type="radio"
                            value="27"
                          />
                          <label
                            class="govuk-label govuk-radios__label"
                            for="status-12"
                          >
                            PIP paper based review (4)
                          </label>
                        </div>

                        <div class="govuk-radios__item">
                          <input
                            class="govuk-radios__input"
                            id="status-13"
                            name="status"
                            type="radio"
                            value="5"
                          />
                          <label
                            class="govuk-label govuk-radios__label"
                            for="status-13"
                          >
                            WCA paper based review (9)
                          </label>
                        </div>

                        <div class="govuk-radios__item">
                          <input
                            class="govuk-radios__input"
                            id="status-14"
                            name="status"
                            type="radio"
                            value="23"
                          />
                          <label
                            class="govuk-label govuk-radios__label"
                            for="status-14"
                          >
                            Failed to attend (5)
                          </label>
                        </div>

                        <div class="govuk-radios__item">
                          <input
                            class="govuk-radios__input"
                            id="status-15"
                            name="status"
                            type="radio"
                            value="24"
                          />
                          <label
                            class="govuk-label govuk-radios__label"
                            for="status-15"
                          >
                            Report ready (67)
                          </label>
                        </div>

                        <div class="govuk-radios__item">
                          <input
                            class="govuk-radios__input"
                            id="status-16"
                            name="status"
                            type="radio"
                            value="25"
                          />
                          <label
                            class="govuk-label govuk-radios__label"
                            for="status-16"
                          >
                            HCP audit (5)
                          </label>
                        </div>

                        <div class="govuk-radios__item">
                          <input
                            class="govuk-radios__input"
                            id="status-17"
                            name="status"
                            type="radio"
                            value="26"
                          />
                          <label
                            class="govuk-label govuk-radios__label"
                            for="status-17"
                          >
                            PIPCS descriptors updated (2)
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>

            <!-- <button type="submit" class="govuk-button" data-module="govuk-button" id="filter">
              Continue
            </button> -->
          </form>

          <a id="case-status" href="#">
            <button class="govuk-button" data-module="govuk-button">
              Continue
            </button>
          </a>
        </div>
      </div>
    </main>
  </div>
</div>

{% endblock %} {% block pageScripts %}

<script>
  let taskDir = document.getElementById("case-status");

  document.getElementById("task-filters").onclick = function () {
    taskDir.setAttribute("href", "./agent-task");
  };

  document.getElementById("filters").onclick = function () {
    taskDir.setAttribute("href", "./status-flow");
  };

  document.getElementById("filters-2").onclick = function () {
    taskDir.setAttribute("href", "./status-flow");
  };
</script>

{% endblock %}
