{% extends "layouts/main.html" %}


{% block pageTitle %}
  Referral status updated
{% endblock %}

{% block header %}
  {% include "includes/internal-header.html" %}
{% endblock %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Referral status updated for <strong>Jane Doe</strong>
      </h1>
    </div>

    <a href="caseload-status.html?toComplete=yes">Go back to referrals in progress</a>
  </div>
</div>

{% endblock %}
