{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-xl">
      {{ serviceName }} prototypes
    </h1>


    <h2 class="govuk-heading-l">
      <span class="govuk-caption-l">{{ serviceName }}</span>HAS
    </h2>

    <hr>
      <h3 class="govuk-heading-m">V2.1 - WIP</h3>
    <p>Work in progress to iterate MVP UI.</p>

    <p>
      <a href="task-management-HAS-v2_1/flow-start" class="govuk-link">
        Start now
      </a>
    </p>

    <br>

    <hr>
      <h3 class="govuk-heading-m">V2 - Refined scope</h3>
    <p>Updated flow to reflect the scope of the POC work.</p>
    <p>Streamlined flow to allow only the initial functionality to be demonstrated.</p>

    <p>
      <a href="task-management-HAS-v2/flow-start" class="govuk-link">
        Start now
      </a>
    </p>

    <br>

    <hr>
    <h3 class="govuk-heading-m">V1 - Initial flow</h3>
    <p>Initial thoughts - within existing HAS workflow</p>
    <p>This is likely to be an end state as it includes additional functionality allowing an Agent to reject a task and choose another.</p>

    <p>
      <a href="task-management-HAS-v1/flow-start" class="govuk-link">
        Start now
      </a>
    </p>
    <br>
      
      
      <br>
      <br>

     

      <h2 class="govuk-heading-l">
        <span class="govuk-caption-l">{{ serviceName }}</span>PIP
      </h2>
  
      <hr>

      <h3 class="govuk-heading-m">V1 - Initial flow</h3>
      <p>Initial thoughts - within existing PIP workflow</p>
  
      <p>
        <a href="task-management-HAS-v2/flow-start" class="govuk-link">
          Start now
        </a>
      </p>
  
      <br>

  </div>



</div>

{% endblock %}